.ChatBox {
    font-family: sans-serif;
    text-align: center;
    width: 280px;
    border-radius: 5px;
    height: 600px;
    padding: 20px 20px 0px;
    background-color: black;
    color: white;
    border: 1px solid rgb(139, 125, 125);
}

.t-1 {
    font-size: 1.5rem;
    font-weight: 700;
}

.t-2 {
    font-size: 0.8rem;
    font-weight: 400;
}

.t-3 {
    font-size: 0.6rem;
    font-weight: 400;
    opacity: 0.6;
}

.t-4 {
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    background-color: #646464;
}

.img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.img11 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.c-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.ch-1 {
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: flex-end;
}

.ch-1-1 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.ch-1-2 {
    font-size: 1rem;
    font-weight: 400;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    background-color: #646464;
    text-align: left;
    margin-bottom: 5px;
}

.ch-1-3 {
    font-size: 1rem;
    font-weight: 400;
    border-radius: 10px;
    padding: 15px;
    background-color: #646464;
    color: white;
    text-align: left;
    margin-bottom: 5px;
    width: 80%;
    align-items: flex-start;
    margin-top: 10px;
}

.c-2 {
    display: flex;
    flex-direction: column;
}

.ch-1-4 {
    font-size: 1rem;
    font-weight: 400;
    border-radius: 10px;
    padding: 15px;
    background-color: #646464;
    color: white;
    text-align: left;
    margin-bottom: 5px;
    width: 80%;
    margin-top: 10px;
    align-self: flex-end;
}

.bc-1 {
    margin-top: 10px;
    gap: 10px;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.bc-1::-webkit-scrollbar {
    display: none;
}